{% extends "./layout.html.twig" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block content %}{% endblock %}
    {% include "./partials/_profil.html.twig" %}


    <h2>Last update : {{product.lastUpdate | date('d/m/y')}}</h2>
    <h2>Last update : {{product.lastUpdate | format_date(pattern='d MMMM Y', locale='fr')}}</h2>

    <h2>Name : {{product.name}}</h2>
{% if product.price > 10000 %}
    <h3>C'est cher</h3>
    {% else %}
        <h3>Ce n'est pas cher</h3>
{% endif %}

<ul>
{% for item in [1,2,3] %}
    <li>
    {{item}}
    </li>
{% endfor %}
</ul>

<h2>{{ 'bonjour' | upper }}</h2>
<h2>{{ 'bonjour' | capitalize }}</h2>
<h2>{{ [1, 2, 3] | join }}</h2>
<h2>{{ [1, 2, 3] | map(a => a * 2) | join("_")}}</h2>

{% for item in [1, 2, 3] | filter( a => a > 1) %}
    {{item}}
{% endfor %}

<h3>{{[1, 2,3] | first}}</h3>

    {# <h2>Price : {{product.price}}</h2> #}

    <img src={{asset('echecs2.jpg')}} alt="">
    <a href={{path('about')}}>Lien</a>
</body>
</html>
{% endblock %}
